@keyframes slideUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.nuestros-productos {
    color: var(--amarillo);
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 4rem;
    margin: 4rem 0;
    text-transform: uppercase;
    animation: slideDown 0.6s ease-out;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
}

.producto {
    background-color: var(--secundario);
    padding: 1rem;
    border: 0.5rem solid var(--blanco);
    transition: all .3s ease;
    animation: slideUp 0.8s ease-out;
}

.producto:hover {
    transform: scale(1.03);
    border-color: var(--amarillo);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.producto__imagen { width: 100%; background-color: var(--blanco); }
.producto__nombre { color: var(--blanco); font-family: var(--fuentePrincipal); text-align: center; font-size: 2.4rem; margin: 1rem 0; }
.producto__precio { color: var(--amarillo); font-family: var(--fuentePrincipal); text-align: center; font-size: 2.2rem; }

.grafico { grid-column: 1 / 3; }
@media (min-width: 768px) {
    .grafico--camisas { grid-column: 1 / 3; }
    .grafico--node { grid-column: 2 / 4; }
}
.grafico img { width: 100%; height: 100%; object-fit: cover; }