.titulo-nosotros {
    font-family: var(--fuentePrincipal);
    color: var(--amarillo);
    text-align: center;
    font-size: 5rem;
    margin: 4rem 0;
    text-transform: uppercase;
}

.nosotros {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row;
        align-items: center;
    }
    .nosotros__contenido, .nosotros__imagen { flex: 1; }
}

.nosotros__contenido p {
    color: var(--blanco);
    font-size: 2rem;
    line-height: 1.5;
}

/* Iconos */
.comprar__titulo {
    font-family: var(--fuentePrincipal);
    color: var(--amarillo);
    text-align: center;
    font-size: 4rem;
    margin: 5rem 0;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 y 2 en móvil */
    gap: 3rem;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .bloques { grid-template-columns: repeat(4, 1fr); }
}

.bloque { text-align: center; transition: transform .3s ease; }
.bloque:hover { transform: scale(1.05); }

.bloque__icono { width: 8rem; margin-bottom: 2rem; }
.bloque__titulo { color: var(--amarillo); font-family: var(--fuentePrincipal); font-size: 2.5rem; }
.bloque p { color: var(--blanco); font-size: 1.6rem; }