/* Definimos la fuente para que coincida con el index */
.titulo-nosotros, 
.comprar__titulo, 
.bloque__titulo {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    color: #ffce00;
    text-align: center;
}

.titulo-nosotros {
    font-size: 5rem;
    margin: 4rem 0;
}

/* Flexbox para Nosotros (Responsive) */
.nosotros {
    display: flex;
    flex-direction: column; /* M贸vil */
    gap: 4rem;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .nosotros {
        flex-direction: row; /* Desktop */
        align-items: center;
    }
    .nosotros__contenido, .nosotros__imagen {
        flex: 1;
    }
}

.nosotros__contenido p {
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* Secci贸n Iconos */
.comprar__titulo {
    font-size: 4rem;
    margin: 5rem 0;
}

.bloques {
    display: grid;
    grid-template-columns: 1fr; /* M贸vil */
    gap: 4rem;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr); /* Desktop */
    }
}

.bloque {
    text-align: center;
}

.bloque__icono {
    width: 10rem;
    margin-bottom: 2rem;
}

.bloque__titulo {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.bloque p {
    color: #ffffff;
    font-size: 1.6rem;
    padding: 0 1rem;
}

.titulo-nosotros {
    animation: entradaTitulo 1s ease-in;
}

.nosotros__imagen {
    transition: filter .5s ease;
}

.nosotros__imagen:hover {
    filter: brightness(1.1); /* Brilla un poco al pasar el rat贸n */
}

/* Efecto en los bloques de iconos */
.bloque {
    transition: transform .3s ease;
}

.bloque:hover {
    transform: scale(1.05);
}

.bloque__icono {
    transition: transform .5s ease-in-out;
}

.bloque:hover .bloque__icono {
    transform: rotate(10deg); /* El icono se inclina un poco */
}